* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
  }
  
  .App {
    display: grid;
    min-height: 100vh; /* Asegura que el contenedor principal ocupe al menos toda la altura de la ventana */
  }
  
  main {
    min-height: 100vh;
  }

:root {
    --clr-main: #071215;
    --clr-main-light: #4990a4;
}

.container {
    max-width: 1140px;
    padding-inline: 1.5rem;
    margin: 0 auto;
}

.main-title {
    margin-top: 2rem;
}

.navbar {
    padding: 2rem;
    display: flex;
    height: 120px;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border-bottom: 3px solid black;
}

.logo {
    text-decoration: none;
    color: black;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-link {
    text-decoration: none;
    color: rgb(241, 236, 236);
    font-size: 1.2rem;
}

.menu-link:hover {
    text-decoration: underline;
    color: turquoise;
}

.logo {
    width: 140px;
}

.carrito{
    color:turquoise;
    position: relative;
}

.badge {
    color: turquoise;
    position: absolute;
    font-size: 12px;
    top: 0;
    right: 0;
    padding: 2px 6px; /* Corrección: valores separados por espacio */
    border-radius: 50%;
    transform: translate(50%, -50%);
}


.item-list-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
  }

.greeting {
    font-size: 24px;
    color: #333;
    margin: 0;
    padding: 10px 0;
  }

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-block: 2rem;
}

.producto {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
}

.producto > div {
    padding: 1rem;
    background-color: var(--clr-main-light);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.producto > img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}

.producto .ver-mas {
    text-decoration: none;
    background-color: var(--clr-main);
    color: white;
    padding: .5rem;
    width: max-content;
    border-radius: .5rem;
    transition: .2s;
}

.producto .ver-mas:hover {
    background-color: black;
    color: white;
}

.producto-detalle {
    padding-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.producto-detalle img {
    width: 100%;
}

.producto-detalle-info h3 {
    font-size: 2rem;
}

.categoria {
    font-size: .8rem;
    color: #424242;
    margin-top: 1rem;
}

.precio {
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 600;
}

.item-count {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.item-count button, .agregar-al-carrito {
    background-color: var(--clr-main);
    border: 0;
    width: 2rem;
    height: 2rem;
    color: rgb(247, 245, 245);
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    border: 2px solid var(--clr-main);
    transition: .2s;
}

.item-count button:hover {
    background-color: initial; /* No cambiar el fondo */
    color: black;
}

.agregar-al-carrito:hover {
    background-color: initial; /* No cambiar el fondo */
    color: black;
}


.agregar-al-carrito {
    width: auto;
    height: auto;
    margin-top: 1rem;
    padding: 2rem;
}

.vaciar, .checkout, .enviar {
    background-color: #6a0dad; /* Púrpura inspirado en Purple Rain */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none; /* Eliminar subrayado del enlace */
    display: inline-block; /* Permitir que el <Link> se comporte como un botón */
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Espacio entre botones */
}

.vaciar:hover, .checkout:hover, .enviar:hover {
    background-color: #5a0c9e; /* Púrpura más oscuro */
}

.vaciar:active, .checkout:active, .enviar:active {
    background-color: #4b0a87; /* Púrpura aún más oscuro */
}

.vaciar:focus, .checkout:focus, .enviar:focus {
    outline: none;
    box-shadow: 0 0 5px #6a0dad;
}


.formulario {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: flex-start;
}

.formulario input {
    padding: .5rem;
    width: 18rem;
    border-radius: .5rem;
    border: 2px solid black;
}

.formulario input:focus {
    outline: 0;
    border: 2px solid var(--clr-main);
    outline: 2px solid var(--clr-main);
}

  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Letras blancas */
    padding: 20px;
    font-size: 16px;
    text-align: center; 
  }
  
  .footer-column {
    flex: 1;
    text-align: center; /* Centra el texto en cada columna del footer */
  }
  